body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
}
.head {
    background-color: #3a8bcd;
    text-align: center;
    height:30px;
}
 h6 {
     color:#3a8bcd !important ;
 }
 .underline {
    display: inline-block;
    width: 160px;
    height:2px;
    background-color: #3a8bcd;
    
}

.bg2 {
    background-color: #3a8bcd;
    height:400px;
}
